/*** principales***/
body {
  margin: 0;
  padding: 0;
  font-family:'Lato', 'Noto Serif',  'sans-serif';
  color: rgb(7, 0, 74);
  display: block;
  background-color: rgb(236, 231, 231);   
  text-align: center;
}

header {
  margin: 0;
  font-family:'Lato', 'Noto Serif',  'sans-serif';
  display: flex;
  background-color: rgb(7, 0, 74);
}
header nav {
  display: inline-block;
  padding: 10px;
  margin-top:0px;
  width: 100%;
  text-align: left center;
}
header ul {
  text-align: right;
  list-style-type: none;
  margin-bottom: 5px;
}
header li{
display: inline-block;
margin-left:5px;
}
header li a{
  color:white;
}
.logoheader img {
  width: 75%;
}

footer {
  margin: 0;
  padding-top: 10px;
  font-family:'Lato', 'Noto Serif',  'sans-serif';
  font-size: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  display: flex;
  color : rgb(255,255,255);
  background-color: rgb(7, 0, 74);
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si es necesario */
}

footer ul {
text-align: right;
list-style-type: none;
margin-bottom: 5px;
}
footer .logofooter img {
  max-width: 40%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;

  }

  footer nav ul li a {
    color: white; /* Aplica el color blanco específicamente a los enlaces dentro de nav */
  }

/***copia */





/***submenus*/

.subcontainer-text-level1 {
  width: 80%;
  margin: auto;

}
.subcontainer-text-level1 ul {
  list-style-type: none;
}
.menu_ppal nav {
  display: inline-block;
  padding: 10px;
  margin-top:0px;
  width: 100%;
  text-align: left center;
}
.menu_ppal ul {
  text-align: center;
  list-style-type: none;
  
}
.menu_ppal li{
  display: inline-block;
  margin-left:0px;
  background-color:rgb(7, 0, 74);
  border : 2px solid rgb(7, 0, 74);
  color:white;
  padding:8px;

}
.menu_ppal li a {
  color:white;
  text-decoration: none;
}
.imagen-video {
position:relative;
display:inline-block;
text-align: right;

}
.categoria{
position: absolute;
top:5%;
left:5%;
transform:transalate(-50%, -50%);

}
.subcontainer-cat1, .subcontainer-press1 {
background-color: #ffffff;
margin-bottom: 5px;
grid-column:span 1;
gap: 30px;
height: auto;


}
.subcontainer-cat1 img, .subcontainer-press1 img {
width: 100%;
height: auto;
position: relative;
}
.subcontainer-cat1 figcaption, .subcontainer-press1 figcaption{
font-size: 0.7rem;
text-align: left;
color:rgb(158, 157, 171)
}
.subcontainer-cat1-texto, .apartado2, .subcontainer-press1 {  
padding-bottom: 10px;
}

figure {
margin:0;
}
.map-container{
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}
#map {
width: 100%; /* Ocupa todo el ancho del contenedor */
height: 50vh; /* La al{tura ocupa el 50% de la altura de la ventana */
max-width: 100%;
margin: 0 auto; /* Centra el mapa en su contenedor */
}


.map-container p{
text-align: center;
}

/*** TMP 
/* Estilos para que la imagen ocupe todo el ancho y sea responsive */
.imagen-views {
  width: 100%; /* Contenedor ocupa todo el ancho */
  height: auto; /* La altura es proporcional al ancho */
  max-width: 100%; /* Evita que el contenedor se expanda más allá del 100% */
  max-height: 500px; /* Limita la altura máxima */
  overflow: hidden; /* Asegura que no haya desbordamiento */
}

.imagen-views img {
  width: 100%; /* Imagen ocupa todo el ancho del contenedor */
  height: 100%; /* La altura de la imagen se adapta al contenedor */
  object-fit: contain; /* La imagen se ajusta sin recortarse */
  display: block;
  margin: 0 auto;
}

/* Opcional: Estilos para centrar el pie de foto y darle estilo */
figcaption {
  text-align: center;
  font-size: 1rem;
  color: #555;
  padding: 0.5rem;
}


.carrusel, .video-container {
  position: relative;
  width: 100%;
  
  margin: auto;
  overflow: hidden;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  max-width: 80%;
}

.carrusel-images img {
  width: 100%;
  display: none; /* Oculta todas las imágenes por defecto */
}

.carrusel-images img.active {
  display: block; /* Muestra solo la imagen activa */
}

.carrusel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carrusel-button.prev {
  left: 10px;
}

.carrusel-button.next {
  right: 10px;
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* h1, h2...*/

h1 {
  font-size:2.5rem;
  text-align: center;
}
h2 {
  font-size:1.5rem;
  
}
/*****************CONSULTAS A LOS MEDIOS***********/
/****************************************************/

/*desktop*********************************************/
@media only screen and (min-width: 1024px)  {
  html {
    font-size: 18px;
  }
  .container-cat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 90%; 
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 40px;
  }
.container-cat-title {
  width: 90%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;  
}
.container-pres {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px; 
  width: 90%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}

.foot2 {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinea verticalmente al centro */
}
footer .foot1 {
  flex-basis: 20%; /* Ocupa el 25% del ancho del contenedor */
  border: 2px solid rgb(0, 255, 21);
}

footer .foot2  {
  border: 2px solid rgb(69, 14, 234);
  flex-basis: 50%; /* Ocupa el 7% del ancho del contenedor */
  text-align: right; /* Alineación a la derecha del contenido del nav */
}
footer nav ul li {
  display: block;
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}
footer ul {
  text-align: right;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 5px;
  border: 2px solid rgb(199, 10, 13);
  padding-left: 0px;
}

.foot2 .redessociales ul,
.foot2 nav ul {
  display: flex;
  gap: 20px; /* Espacio entre los elementos de cada lista */
  list-style: none; /* Quita los puntos de las listas */
  padding: 0; /* Elimina el relleno de la lista */
  margin: 0; /* Elimina el margen de la lista */
}
.redessociales ul {
  display: flex;
}
.logofooter img {
  width: 70%;
}
.container-detalle{
  display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Columna central es el doble de ancha */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}
.container-detalle h1 {
  grid-column: 1 / -1; 
  text-align: center;
  padding-bottom: 20px;
}

.columna-lateral img {
  width: 100%;      /* La imagen ocupa el 100% del ancho de la columna */
  height: auto;     /* Mantiene la proporción original de la imagen */
  max-width: 100%;  /* Evita que la imagen se desborde */
  display: block;   /* Evita espacios no deseados debajo de la imagen */
}

/*
section {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }
 */
 .redessociales  {
  display: flex;
}
.redessociales ul, .foot2 .nav ul {
  display: flex;
}
}





/***** MEDIA QUERY******************/
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
#map {
  height: 40vh; /* Reduce la altura en pantallas más pequeñas */
}

footer {
    text-align: center;
    font-size: 0.75rem;  
}

footer nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}
footer ul {

    text-align: right;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 5px;
    border: 2px solid rgb(0, 255, 21);
    padding-left: 0px;
}


.foot2 {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea verticalmente al centro */
}

.foot2 .redessociales ul,
.foot2 nav ul {
    display: flex;
    gap: 20px; /* Espacio entre los elementos de cada lista */
    list-style: none; /* Quita los puntos de las listas */
    padding: 0; /* Elimina el relleno de la lista */
    margin: 0; /* Elimina el margen de la lista */
}
.redessociales ul {
    display: flex;
}
footer ul {
    text-align: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.logofooter img {
    width: 80%;
}

.container-index {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.parte2 section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.fuente{
    padding-left: 30px;
}
.container-cat {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 90%; 

  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}
.container-cat-title {
  width: 90%; 

  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;  
}
.columna-lateral img {
  width: 100%;          /* Hace que las imágenes se ajusten al ancho del contenedor */
  height: auto;         /* Mantiene la proporción de la imagen */
  object-fit: contain;  /* Asegura que la imagen se ajuste al contenedor sin recortarse */
  max-width: 100%;      /* Evita que la imagen se desborde en pantallas más pequeñas */
  max-height: 200px;    /* Limita la altura máxima en pantallas más pequeñas */
}

}


/*movil*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
#map {
  height: 30vh; /* Reduce la altura en pantallas más pequeñas */
}
.container-index {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


header {
    font-size: 0.75rem;
}

  footer {
    text-align: center;
    font-size: 0.75rem;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  }
  footer ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left:0;
  }
  footer nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-left:0; 
  }
  .redessociales ul li {
      display: flex;
      justify-content: center;
  }
  .logofooter img {
    width: 25%;
  }

.container-cat {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 95%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}
.container-cat-title {
width: 95%; 

margin-right: auto;
margin-left: auto;
padding-right: 0px;
padding-left: 0px;
padding-bottom: 40px;  
}
.container-detalle{
  display: grid;
    grid-template-columns: 1fr ; /* Columna central es el doble de ancha */
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}
.columna-lateral img {
  width: 100%;         
  height: auto;         
  object-fit: contain;  
  max-width: 100%;      
  max-height: 200px;    
}

}
/************* fin ****CONSULTAS A LOS MEDIOS***********/
