/*** principales***/
body {
  margin: 0;
  padding: 0;
  font-family:'Lato', 'Noto Serif',  'sans-serif';
  color: rgb(7, 0, 74);
  display: block;
  background-color: rgb(236, 231, 231);   
  text-align: center;
}

header {
  margin: 0;
  font-family:'Lato', 'Noto Serif',  'sans-serif';
  display: flex;
  margin:0;
  
  background-color: rgb(7, 0, 74);
  justify-content: start; /* Distribuye los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
}

.logoheader svg {
  width: 100%; /* Ajusta el ancho al contenedor */
  height: auto; /* Mantiene las proporciones */
  display: block; 
}
.head2, .head1{
  color:white;
  border: 5px solid rgb(0, 255, 21);
}

.head2{
  font-size: 2rem;
  align-items: left;
  text-align: left;
  margin:20px;
}


footer {
  margin: 0;
  margin-top: 0;
  padding-top: 0;
  font-family:'Lato', 'Noto Serif',  'sans-serif';
  font-size: 0.75rem;
  flex-direction: row;
  color : rgb(255,255,255);
  background-color: rgb(7, 0, 74);
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si es necesario */
}
.footer-container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
}
.foot1 .logoheader {
  width: 100%; /* El contenedor ocupa el 100% de su contenedor padre */
  max-width: 300px;  
}
.foot2 ul,.foot3 ul {
  text-align: center;
  list-style-type: none;
  margin-bottom: 5px;
}


.container-enl{
  width: 75%;
  text-align: left;
}
.container-enl ul li {
  margin-bottom: 15px; 
}
.container-enl ul ul li {
  margin-bottom: 8px; 
}



/***submenus*/

.subcontainer-text-level1 {
  width: 80%;
  margin: auto;

}
.subcontainer-text-level1 ul {
  list-style-type: none;
}
.menu_ppal nav {
  display: inline-block;
  padding: 10px;
  margin-top:0px;
  width: 100%;
  text-align: center;
}
.menu_ppal ul {
  text-align: center;
  list-style-type: none;
  
}
.menu_ppal li{
  display: inline-block;
  margin-left:0px;
  background-color:rgb(7, 0, 74);
  border : 2px solid rgb(7, 0, 74);
  color:white;
  padding:8px;

}
.menu_ppal li a {
  color:white;
  text-decoration: none;
}
.imagen-video {
position:relative;
display:inline-block;
text-align: right;

}
.categoria{
position: absolute;
top:5%;
left:5%;
transform:transalate(-50%, -50%);

}
.subcontainer-cat1, .subcontainer-press1 {
background-color: #ffffff;
margin-bottom: 5px;
grid-column:span 1;
gap: 30px;
height: auto;
  width: 80%;
  margin: auto;

}
.subcontainer-cat1 img, .subcontainer-press1 img {
width: 100%;
height: auto;
position: relative;
}
.subcontainer-cat1 figcaption, .subcontainer-press1 figcaption{
font-size: 0.7rem;
text-align: left;
color:rgb(158, 157, 171)
}
.subcontainer-cat1-texto, .apartado2, .subcontainer-press1 {  
padding-bottom: 10px;
}

figure {
margin:0;
}
.map-container{
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
width: 70%;
}
#map {
width: 100%; /* Ocupa todo el ancho del contenedor */
height: 50vh; /* La al{tura ocupa el 50% de la altura de la ventana */
max-width: 100%;
margin: 0 auto; /* Centra el mapa en su contenedor */
}
.map-container p{
text-align: center;
}

main{
  display:grid;
  place-items: center;
}

/*** TMP 
/* Estilos para que la imagen ocupe todo el ancho y sea responsive */
.imagen-views {
  width: 100%; /* Contenedor ocupa todo el ancho */
  height: auto; /* La altura es proporcional al ancho */
  max-width: 100%; /* Evita que el contenedor se expanda más allá del 100% */
  max-height: 500px; /* Limita la altura máxima */
  overflow: hidden; /* Asegura que no haya desbordamiento */
}

.imagen-views img {
  width: 100%; /* Imagen ocupa todo el ancho del contenedor */
  height: 100%; /* La altura de la imagen se adapta al contenedor */
  object-fit: contain; /* La imagen se ajusta sin recortarse */
  display: block;
  margin: 0 auto;
}

/* Opcional: Estilos para centrar el pie de foto y darle estilo */
figcaption {
  text-align: center;
  font-size: 1rem;
  color: #555;
  padding: 0.5rem;
}


.carrusel, .video-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  max-width: 80%;
}

.carrusel-images img {
  width: 100%;
  display: none; /* Oculta todas las imágenes por defecto */
}

.carrusel-images img.active {
  display: block; /* Muestra solo la imagen activa */
}

.carrusel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carrusel-button.prev {
  left: 10px;
}

.carrusel-button.next {
  right: 10px;
}

.subcontainer-press1-texto{
  width:80%;
  margin:auto;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* h1, h2...*/

h1 {
  font-size:2.5rem;
  text-align: center;
}
h2 {
  font-size:1.5rem;
  
}

.subcontainer-press1 figcaption{
  text-align: center;
}















































































/*****************CONSULTAS A LOS MEDIOS***********/
/****************************************************/

/*desktop*********************************************/
@media only screen and (min-width: 1024px)  {
  html {
    font-size: 18px;
  }
  .container-cat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 90%; 
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 40px;
  }
.container-cat-title {
  width: 90%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;  
}
.container-pres {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px; 
  width: 90%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}
.head1 .logoheader{
  max-width: 80%;
}

.foot1, .foot2, .foot3 {
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  border: 5px solid rgb(0, 255, 21);
}
.foot1 {
  flex-basis: 25%; /* Ocupa el 25% */
  text-align: center;
}
.foot1 .logoheader {
  max-width: 30%;
  border: 5px solid rgb(0, 255, 21);
}
.foot1-1{
  text-align: left;
}
.foot2 {
  flex-basis: 25%; /* Ocupa el 25%*/
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    
}
.foot3 {
  flex-basis: 50%; /* Ocupa el 50%*/
}

.foot3 nav ul li{
  display: inline-block;
  margin-left:20px;
}
.foot3 nav ul li a {
    color:rgb(7, 0, 74);;
    background-color: white;
    font-size: 1rem;
    text-decoration: none;
    padding:10px;
    border-radius: 5px; 
}

.foot3 nav ul li a:hover {
  color: #fff; /* Cambia el color del texto al pasar el mouse */
  background-color: #007BFF; /* Fondo azul al pasar el mouse */
  border-radius: 5px; /* Bordes redondeados opcionales */
}

.foot2 .redessociales ul{
  display: flex;
  gap: 30px; 
  border: 5px solid rgb(0, 255, 21);
}

.container-detalle{
  display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Columna central es el doble de ancha */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}
.container-detalle h1 {
  grid-column: 1 / -1; 
  text-align: center;
  padding-bottom: 20px;
}

.columna-lateral img {
  width: 100%;      /* La imagen ocupa el 100% del ancho de la columna */
  height: auto;     /* Mantiene la proporción original de la imagen */
  max-width: 100%;  /* Evita que la imagen se desborde */
  display: block;   /* Evita espacios no deseados debajo de la imagen */
}

/*
section {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }
 */
 .redessociales  {
  display: flex;
}
.redessociales ul, .foot2 .nav ul {
  display: flex;
}
}





/***** MEDIA QUERY******************/
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
#map {
  height: 40vh; /* Reduce la altura en pantallas más pequeñas */
}
.head1 .logoheader{
  max-width: 70%;
}
.head2{
  font-size: 1.5rem;
  align-items: left;
  text-align: left;
  margin:20px;
}

.foot1, .foot2, .foot3 {
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  border: 5px solid rgb(0, 255, 21);
}
.foot1 {
  flex-basis: 25%; /* Ocupa el 25% */
  text-align: center;
}
.foot1 .logoheader {
  max-width: 30%;
  border: 5px solid rgb(0, 255, 21);
}
.foot1-1{
  text-align: left;
}
.foot2 {
  flex-basis: 25%; /* Ocupa el 25%*/
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    
}
.foot3 {
  flex-basis: 50%; /* Ocupa el 50%*/
}

.foot3 nav ul li{
  display: inline-block;
  margin-left:20px;
}
.foot3 nav ul li a {
    color:rgb(7, 0, 74);;
    background-color: white;
    font-size: 0.85rem;
    text-decoration: none;
    padding:7px;
    border-radius: 5px; 
}

.foot3 nav ul li a:hover {
  color: #fff; /* Cambia el color del texto al pasar el mouse */
  background-color: #007BFF; /* Fondo azul al pasar el mouse */
  border-radius: 5px; /* Bordes redondeados opcionales */
}

.foot2 .redessociales ul{
  display: flex;
  gap: 30px; 
  border: 5px solid rgb(0, 255, 21);
}





.container-index {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.parte2 section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.fuente{
    padding-left: 30px;
}
.container-cat {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 90%; 

  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}
.container-cat-title {
  width: 90%; 

  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;  
}
.columna-lateral img {
  width: 100%;          /* Hace que las imágenes se ajusten al ancho del contenedor */
  height: auto;         /* Mantiene la proporción de la imagen */
  object-fit: contain;  /* Asegura que la imagen se ajuste al contenedor sin recortarse */
  max-width: 100%;      /* Evita que la imagen se desborde en pantallas más pequeñas */
  max-height: 200px;    /* Limita la altura máxima en pantallas más pequeñas */
}

}







/****************movil******************/
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
#map {
  height: 30vh; /* Reduce la altura en pantallas más pequeñas */
}
.container-index {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.head2 {
    font-size: 1rem;

}
.head1{
  max-width: 40%;
}
.head1 .logoheader{
  max-width: 60%;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
}
.foot1 .logoheader {
  max-width: 30%;
  border: 5px solid rgb(0, 255, 21);
  align-items: center;
}
.foot1-1{
  text-align: center;
}
.foot1, .foot2, .foot3 {
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  display: flex; /* Activar Flexbox */
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: center; /* Centrar horizontalmente los <li> */
}

.foot2 .redessociales ul{
  display: flex;
  gap: 30px; 
}
.foot3 nav ul {
  list-style: none; /* Quitar los puntos de lista */
  padding: 0;
  margin: 0;
  display: flex; /* Activar Flexbox */
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: center; /* Centrar horizontalmente los <li> */
  gap: 5px; /* Espaciado entre los elementos */
}
.foot3 nav ul li {
  display: block;
  width: 100%;
  text-align: center;
  padding-left:0; 
  margin:5px;
}

.foot3 nav ul li a {
  color:rgb(7, 0, 74);;
  background-color: white;
  font-size: 0.85rem;
  text-decoration: none;
  padding: 5px;
  margin:5px;
  text-align: center;
 
} 
.foot3 nav ul li a:hover {
  color: #fff; /* Cambia el color del texto al pasar el mouse */
  background-color: #007BFF; /* Fondo azul al pasar el mouse */
  border-radius: 0px; /* Bordes redondeados opcionales */
}
  
 



.container-cat {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 95%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}
.container-cat-title {
width: 95%; 

margin-right: auto;
margin-left: auto;
padding-right: 0px;
padding-left: 0px;
padding-bottom: 40px;  
}
.container-detalle{
  display: grid;
    grid-template-columns: 1fr ; /* Columna central es el doble de ancha */
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}
.columna-lateral img {
  width: 100%;         
  height: auto;         
  object-fit: contain;  
  max-width: 100%;      
  max-height: 200px;    
}

}
/************* fin ****CONSULTAS A LOS MEDIOS***********/
