<footer>
    <div class="foot1">
        <div class="logofooter"><img src="./images/PañueloSF.jpg" alt="vista de Pamplona"></div>
        <p class="foot1-1">&copy; 2024-2025 | Eva Cristóbal López</p>
    </div>
    <div class="foot2">
        <div class="redessociales">
            <ul>
                <li><a href=""><img src="./images/instagram.svg" alt="instagram"></a></li>
                <li><a href=""><img src="./images/twitter.svg" alt="twitter"></a></li>
                <li><a href=""><img src="./images/youtube.svg" alt="youtube"></a></li>
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Política de cookies</a></li>
                <li><a href="">Aviso legal</a></li>
            </ul>
        </nav>
    </div>
  </footer>
